<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= categoryName %></title>
</head>
<body>
    <h1>Motorcycles in the <%= categoryName %> category</h1>
    <p><a href="/categories/<%= categoryId %>/edit">Edit category details</a></p>
    <div>
        <form action="/categories/<%= categoryId %>?_method=DELETE" method="POST">
            <button 
              type="submit" 
              onclick="return confirm('Delete this category permanently?')"
            >
              Delete Category
            </button>
          </form>
    </div>
    <main>
        <ul>
            <% motorcyclesInCategory.forEach((motorcycle) => { %>
                <li><a href="/motorcycles/<%= motorcycle.motorcycle_id %>"> <%= motorcycle.model_name %> </a></li>
            <% }); %>
        </ul>
    </main>
</body>
</html>